body{
    background-color: black;
}
h3{
    font-size: 20px;
}

/* Estilos para el header */
header {
    background-color:black;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
button {
    background-color: red;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin: 5px;
   
}


.form a{
    text-decoration: none;
    color: white;
}

/* Estilos para el logo */
.logo {
    margin-top: 20px; 
}

.logo img {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover;
}

/* Estilos para el navegador */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Estilos para los elementos */

main{
    color: white;

}
/* Estilos para las series */
.seriesPopulares h2{
    background-color: red;
    color: black;
}
.seriesPopulares h3{
    text-align: center;
}
.seriesPopulares section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.seriesPopulares section img {
    max-width: 100%; 
    width: 200px;
    height: 200px;
    text-align: auto; 
     
}
.seriesPopulares article a {
    text-decoration: none;
    color: white;
}

/* Estilos para las peliculas */
.Comedias h2{
    background-color: red;
    color: black;
}
.Comedias h3{
    text-align: center;
}
.Comedias section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.Comedias section img {
    max-width: 100%; 
    width: 200px;
    height: 200px;
    text-align: auto;   
}
.Comedias article a{
    text-decoration: none;
    color: white;
}

/* Estilos para las tendencias*/
.Tendencias h2{
    background-color: red;
    color: black;
}
.Tendencias h3{
    text-align: center;
}
.Tendencias section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
.Tendencias section img {
    max-width: 100%; 
    width: 200px;
    height: 200px;
    text-align: auto;  
}
.Tendencias article a{
    text-decoration: none;
    color: white;
}

.Comedias section p {
    color: red;
    text-align: center;
}
.seriesPopulares section p {
    color: red;
    text-align: center;

}
.Tendencias section p {
    color: red;
    text-align: center;
}

/* Estilos para el footer */
footer{
    background-color: red;
}

footer img {
    max-width: 9%;
    
}
footer p {
    display: flex;
    justify-content: center;}

/* Estilos para el detalle de las Peliculas */
.detallesPelicula h2{
    background-color: red;
    color: black;
}

.detallesPelicula section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.detallesPelicula section img {
    max-width: 100%; 
    width: 200px;
    height: 200px;
    text-align: auto;
}

.detallesPelicula section a{
    text-decoration: none;
    color: black;
}



/* Estilos para el detalle de las series */
.detalleSerie h2{
    background-color: red;
    color: black;
}
.detalleSerie section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.detalleSerie section img{
    max-width: 100%; 
    width: 200px;
    height: 200px;
    text-align: auto;
}

.detalleSerie section a{
    text-decoration: none;
    color: black;
}


/* Estilos para los generos */
.contenedorGeneros h2{
    background-color: red;
    color: black;
}
.contenedorGeneros h3{
    text-align: center;
   

}
.contenedorGeneros article a {
    text-decoration: none;
    color: red;
}

/* Estilos para los favoritos */
.listaFav h2{
    background-color: red;
    color: black;
}
.listaFav h3 {
    text-align: center ;
}
.listaFav section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.listaFav section img{
    max-width: 100%; 
    width: 200px;
    height: 200px;
    text-align: center;  
}
.listaFav article a{
    text-decoration: none;
    color: white;
}
.listaFav article p{
    text-align: center;
}

/* Estilos para los detalles de los generos */
.generosDetalles section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
.generosDetalles section img {
    max-width: 100%; 
    width: 200px;
    height: 200px;
    text-align: auto;

}
.generosDetalles article{
    text-align: center;
}
.generosDetalles h3{
    text-align: center;
}
.generosDetalles h2{
    background-color: red;
    color: black;
}

/* Estilos para los resultados de busqueda */
.Search section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.Search section img{
    max-width: 100%; 
    width: 200px;
    height: 200px;
    text-align: auto;

}
.Search h3{
    text-align:center
}
.Search h2{
    color: black;
    background-color: red;
}

.Search section a{
    text-decoration: none;
    color: white;
    text-align: center;
}

header, main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  

/* Estilos Responsive Web Design*/
@media (max-width:420px){
    header{
        flex-direction: column;
    }

    .Comedias section img{
        max-width: 100%;
        height: auto;
        
    }
    .Comedias h3{
        font-size: small;
    }
    .Comedias section p{
        font-size: small;
    }
    .Tendencias section img{
        max-width: 100%;
        height: auto;
    }
    .Tendencias h3{
        font-size: small;
    }
    .Tendencias section p{
        font-size: small;
    }
    .seriesPopulares section img{
        max-width: 100%;
        height: auto;
        
    }
    .seriesPopulares h3{
        font-size: small;
    }
    .seriesPopulares section p{
        font-size: small;
    }
    .generosDetalles section img{
        max-width: 100%;
        height: auto;
    }
    .generosDetalles h3{
        font-size: small;
    }
    .generosDetalles section p{
        font-size: small;
    }

    .listaFav section img{
        max-width: 100%;
        height: auto;
    }
    .listaFav h3{
        font-size: small;
    }
    .listaFav article p{
        font-size: small;
    }

    .Search section img{
        max-width: 100%;
        height: auto;
    }
    .Search h3{
        font-size: small;
    }
    .Search article a{
        font-size: small;
    }
  
}
@media (max-width: 768px){
    
        header{
            flex-direction: column;
        }
    
        .Comedias section img{
            max-width: 100%;
            height: auto;
            
        }
        .Comedias h3{
            font-size: medium;
        }
        .Comedias section p{
            font-size: medium;
        }
        .Tendencias section img{
            max-width: 100%;
            height: auto;
        }
        .Tendencias h3{
            font-size: medium;
        }
        .Tendencias section p{
            font-size: medium;
        }
        .seriesPopulares section img{
            max-width: 100%;
            height: auto;
            
        }
        .seriesPopulares h3{
            font-size: medium;
        }
        .seriesPopulares section p{
            font-size: medium;
        }
        .generosDetalles section img{
            max-width: 100%;
            height: auto;
        }
        .generosDetalles h3{
            font-size: medium;
        }
        .generosDetalles section p{
            font-size: medium;
        }
    
        .listaFav section img{
            max-width: 100%;
            height: auto;
        }
        .listaFav h3{
            font-size: medium;
        }
        .listaFav article p{
            font-size: medium;
        }
    
        .Search section img{
            max-width: 100%;
            height: auto;
        }
        .Search h3{
            font-size: medium;
        }
        .Search article a{
            font-size: medium;
        }
     
    
}