body{
    background-color: black;
}
h3{
    font-size: 20px;
}
/* Estilos para el header */
header {
    background-color:black;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Estilos para el logo */
.logo {
    margin-top: 20px; 
}

.logo img {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover;
}
nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Estilos para los elementos */

main{
    color:white

}
main li {
    list-style: none;
}

.seriesPopulares ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.seriesPopulares ul img {
    max-width: 100%; 
    width: 250px;
    height: 250px;
    text-align: auto;
    
}

.Comedias ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.Comedias ul img {
    max-width: 100%; 
    width: 250px;
    height: 250px;
    text-align: auto;   
}

.Tendencias ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.Tendencias ul img {
    max-width: 100%; 
    width: 250px;
    height: 250px;
    text-align: auto;   
}

.Comedias ul p {
    color: red;
}
.seriesPopulares ul p {
    color: red;
}
.Tendencias ul p {
    color: red;
}



footer{
    background-color: red;
}

/* Estilos para la página de detalle de película y serie */
.detalle-pelicula, .detalle-serie {
    text-align: center;
    padding: 20px;
}

.detalle-pelicula img, .detalle-serie img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.detalle-pelicula h2, .detalle-serie h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.detalle-pelicula p, .detalle-serie p {
    font-size: 16px;
    margin-bottom: 10px;
}